.Bar {
  align-items: center;
  background-color: $white;
  display: flex;
  font-family: $font-secundary;
  font-size: 16px;
  font-weight: 600;
  justify-content: space-between;
  line-height: 1.5;
  padding: 10px 223px;
  width: 100%;
  @include media-breakpoint-down(lg) {
    padding: 10px 30px;
  }
  @include media-breakpoint-down(sm) {
    display: none;
  }

  &-buttons {
    position: relative;
}
&SubItem{
  opacity: 0;
  visibility: hidden;
  position: absolute;
    width: 230px;
    border-radius: 8px;
    padding: 10px 0;
    background: #fff;
    transition: $transition;
    transform: translateY(40px);
    box-shadow: 0 0 15px 0 $black-trans;

  &-li{
    position: relative;
    padding: 10px 25px;
    list-style: none;
    &:hover{
      background: $grey-trans;
    }
  }
}
  &-menu {
    align-items: center;
    display: flex;
    gap: 48px;
    margin-left: 20px;
    margin-bottom: 0px;

    @include media-breakpoint-down(lg) {
      display: none;
    }
  }

  &-icon {
    font-size: 22px;
    margin-inline: 20px;

    &.green {
      color: $lime-green;
    }
  }
  &-span{
    position: absolute;
    right: 184px;
    display: inline-block;
    height: 15px;
    width: 15px;
    line-height: 15px;
    background-color: #80C100;
    color: #fff;
    text-align: center;
    font-size: 10px;
    border-radius: 50px;
  }

  &-item {
    list-style: none;
    position: relative;
    &:hover{
      .BarSubItem{
        transform: translateY(15px);
        opacity: 1;
        visibility: visible;
      }
    }
  }
  &-link{
    color: $black;
    text-decoration: none !important;
  }

  &-options {
    display: flex;
  }
}