.button {
  background-color: $lime-green;
  cursor: pointer;
  color: $white;
  padding: 12px 35px;
  font-family: $font-primary;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  border-radius: 5px;
  transition: $transition;
  text-decoration: none;
  border: none;

  @include media-breakpoint-down(lg) {
    font-size: 15px;
    padding: 12px 20px;
  }

  &:hover {
    background-color: $black;
  }

  &.Secondary {
    border: 2px solid $lime-green;
    font-size: 16px;
    padding: 7px 10px;

    &:hover {
      color: $black;
      background-color: $white;
    }
  }
}
