.Product {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 80px 40px;
  background-color: $grey-light;

 
  &-item {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: $default-padding;

    @include media-breakpoint-down(lg) {
      justify-content: space-between;
      gap: 30px;
    }
  }
  &-heading {
    @extend .titleDecoration;
    text-align: center;
    margin-bottom: 26px;
  }

  &-title {
    @extend .titleUnderlined;
  }

  &-categories {
    display: flex;
    justify-content: center;
    gap: 35px;
    padding-bottom: 30px;

    @include media-breakpoint-down(lg) {
      flex-wrap: wrap;
      gap: 10px;
      margin: 0 auto;
      max-width: 600px;
    }
  }

  &-tab {
    background-color: $lime-green;
    text-decoration: none;
    border: 1px solid transparent;
    border-radius: 5px;
    color: $white;
    padding: 8px 30px;
    font-family: $font-primary;
    font-size: 16px;
    font-weight: 400;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out;
    &:hover {
      border-color: $grey-light;
      color: $white;
    }
    &.active{
      color:$black ;
      @include media-breakpoint-down(lg) {
        
      }
  
      @include media-breakpoint-down(sm) {
        background-color: $lime-green;
      }
    }
    @include media-breakpoint-down(lg) {
      background-color: transparent;
      border-color: $lime-green;
      color: $black;
      padding: 6px 20px;
    }

    @include media-breakpoint-down(sm) {
      font-size: 14px;
      padding: 4px 12px;
    }
  }

  &Card {
    width: 334px;
    overflow: hidden;
    transition: $transition;
    background-color: $white;
    border-radius: 12px;

    &:hover {
      box-shadow: 4px 14px 28px rgb(0 0 0 / 10%);

      .ProductCard-image {
        transform: scale(1.2);
      }
    }

    @include media-breakpoint-down(sm) {
      width: 100%;
    }

    &-header {
      padding: 10px;
      position: relative;
    }

    &-image {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      border-top-left-radius: 12px;
      border-top-right-radius: 12px;
      height: 198px;
      transition: $transition;
      width: 100%;
    }
    &-discount {
      align-items: center;
      background-color: $lime-green;
      border-radius: 50px;
      bottom: 5px;
      color: $white;
      display: flex;
      font-family: $font-primary;
      font-size: 16px;
      font-weight: 500;
      justify-content: center;
      height: 45px;
      line-height: 45px;
      position: absolute;
      right: 12px;
      width: 45px;
    }
    &-content {
      padding: 20px 15px 0;
    }

    &-title {
      margin: 0;
      padding-bottom: 10px;
  
    }

    &-link {
      color: $black;
      font-family: $font-primary;
      font-size: 20px;
      font-weight: 500;
      line-height: 1.2;
      text-decoration: none;

      &:hover {
        color: $lime-green;
      }

      @include media-breakpoint-down(sm) {
        font-size: 16px;
      }
    }

    &-text {
      color: $grey-medium;
      font-family: $font-secundary;
      font-size: 14px;
      font-weight: 400;
      line-height: 28px;
      margin-bottom: 0;
      padding-bottom: 10px;
    }

    &-rating {
      color: $lime-green;
      margin-right: 10px;
    }

    &-footer {
      display: flex;
      justify-content: space-between;
      padding: 0 15px 20px;
    }

    &-price {
      color: $black;
      margin: 0;
      font-family: $font-primary;
      font-size: 24px;
      font-weight: 500;
    }

    &-button {
      background-color: transparent;
      cursor: pointer;
      border: 1px solid $lime-green;
      text-decoration: none;
      border-radius: 5px;
      color: $black;
      display: inline-block;
      font-family: $font-primary;
      font-size: 14px;
      font-weight: 400;
      line-height: 1.5;
      padding: 5px 18px;
      &:hover {
        color: $white;
        background-color: $black;
      }
    }
  }
}
