.Section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 80px 40px;
    background-color: $grey-light;


    @include media-breakpoint-down(lg) {
        padding: 70px 35px;
    }

    @include media-breakpoint-down(sm) {
        padding: 40px 12px;
    }

    &-heading {
        @extend .titleDecoration;
        text-align: center;
        margin-bottom: 26px;
    }

    &-title {
        @extend .titleUnderlined;
    }
}